# .gitignore

config.py

# virtual env
.venv
env/
.env/

# IDE
.vscode/

# System
.DS_Store

# python bytecode
__pycache__/
migrations/versions/*.pyc
migrations/__pycache__/
migrations/versions/__pycache__/
*.pyc
*.pyo

# log
*.log