/* index styling */

header {
    background-color: #5d3370;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.button1 {
    background-color: #a979bf;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button1:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.item-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
}

.item-box {
    width: 23%; 
    box-sizing: border-box; 
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
    box-sizing: border-box;
}

.item-box img {
    max-width: 100%;
    height: auto;
}